.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2B4865;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #F7ECDE;
}

p {
  font-size: 2rem;
  color: #F7ECDE;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  color: gray;
  font-weight: bold;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 5;

}

.footer {
margin-top: 3%;
padding: 2.1% 0;
  background-color: #F7ECDE;
  align-items: center;
}

.btnalign {
    margin: 5% 40% 0;
width: 20%;
}
